html{
    width: 1280px;
    height: 780px;
}

.grid{
    display: grid;
    row-gap: 10px;
    column-gap: 10px;
}


.box{
    background-color:dimgray;
    font-size: 30px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 1/15;
}

.box2{
    background-color:dimgray;
    font-size: 30px;
    text-align: center;
    grid-column: 1/3;
    grid-row: 15/30 ;
}

.box3{
    background-color:dimgray;
    font-size: 30px;
    text-align: center;
    grid-column: 3/5;
    grid-row: 1/30;
}
.box4{
    background-color:dimgray;
    font-size: 30px;
    text-align: center;
    grid-column:5/9;
    grid-row: 1/30;
}
.box5{
    background-color:dimgray;
    font-size: 30px;
    text-align: center;
    grid-column: 1/5;
    grid-row: 80/30;
}

.box6{
    background-color:dimgray;
    font-size: 30px;
    text-align: center;
    grid-column: 5/7;
    grid-row: 80/30;
}

.box7{
    background-color:dimgray;
    font-size: 30px;
    text-align: center;
    grid-column: 7/9;
    grid-row: 80/30;
    
}